#container{ border: 2px solid; width: 60%; margin: auto; background-color: rgb(220, 233, 233);}
#container>div:nth-of-type(1){text-align: center; margin-bottom: 20px;}
.btn{background-color: black; color: white}
#taskInput{padding:5px; font-size: medium; margin-bottom: 10px; }
#taskList{ width: 80%; margin:auto;font-size: 20px; }
#taskList>div{display: flex;border: 1px solid;justify-content: space-around; }
#deletebtn{padding-top: 0 ; background-color: rgb(243, 100, 123); color: black; height: 30px; margin-top: 20px;}
#searchInput{margin-top: 10px}